<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app id="inpsire">
        <!-- logos an such can go here -->
        <v-app-bar app absolute color="white" elevate-on-scroll scroll-target="#scrolling-techniques-7">
            <v-app-bar-nav-icon></v-app-bar-nav-icon>
            <v-spacer></v-spacer>
            <!-- center in html -->
            <v-toolbar-title>Opportunity Engine!</v-toolbar-title>
      
            <v-spacer></v-spacer>

        </v-app-bar>

      <v-main>
        <v-container fluid>

            <!-- center this later! -->
            <v-row>
                <v-col>
                    <v-card flat color="grey lighten-4">
                        <v-card-title>
                            <span class="display-1 font-weight-light">Search our database of Job Opportunities!</span>
                        </v-card-title>
                        <v-card-subtitle>
                            <span class="headline font-weight-light">Pulled directly from Twitter {{ updatedLast }} seconds ago!</span>
                        </v-card-subtitle>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-card flat>
                        <v-toolbar>
                            <v-toolbar-title> Search a Topic </v-toolbar-title>
                            <v-autocomplete
                                v-model="select"
                                :loading="loading"
                                :items="items"
                                :search-input.sync="search"
                                cache-items
                                class="mx-4"
                                flat
                                hide-no-data
                                hide-details
                                label="What type of position are you looking for?"
                                solo-inverted
                                chips
                                deletable-chips
                                multiple
                            ></v-autocomplete>
                        </v-toolbar>
                    </v-card>
                </v-col>
            </v-row>

            <v-row>
                <v-col>
                    <v-card flat class="pa-2" v-for="listing in relevantOpenings" :key="listing.title" class="mx-auto">
                        <v-card-title>
                            <span> {{ listing.title }} </span>
                        </v-card-title>

                        <v-card-subtitle>
                            <span><a :href="listing.link" style="text-decoration: none">Tweet Reference</a></span>
                        </v-card-subtitle>

                        <v-card-text>
                          <div class="text--primary">
                                {{ listing.description }}
                          </div>
                        </v-card-text>

                        <v-card-actions>
                          <v-chip-group multiple>
                              <v-chip v-for="tag in listing.tags"> {{tag}} </v-chip>
                          </v-chip-group>
                        </v-card-actions>
                    </v-card>
                </v-col>
            </v-row>

        </v-container>
      </v-main>
    </v-app>
  </div>

  <!-- vue and vuetify -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
          return {
              count: 5,
              raw_tweet_info: '',
              updatedLast: Math.floor(Math.random() * Math.floor(20)),
              search: null,
              select: [],
              loading: false,
              items: [],
              tags: ['Women', 
                    'STEM', 
                    'Health', 
                    'Healthcare', 
                    'Computer Science',
                    'IT',
                    'Internet Technologies',
                    'Cyber-security',
                    'Business',
                    'Public Policy',
                    'Health Policy',
                    'Policies',
                    'Tech Entrepreneurship',
                    'Internship',
                    'Full Time',
                    'Returnship', 
                    'No Degree Required',
                    'Bootcamp',
                    'Entry Level',
                    'Senior Engineer',
                    'Creative',
                    'Project Manager'],
               jobListings: [
                   {
                        title: "Microsoft Explore",
                        description: "New internship opprtunities for people from diadvantaged groups",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Internship', 'No Degree Required']
                   },
                   {
                        title: "Google University",
                        description: "Looking for bright women interested in tech and business.",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Women', 'Full Time']
                   },
                   {
                        title: "Twitter Academy",
                        description: "Looking for prospective women with experience in tech and a desire to learn!.",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Creative', 'Women', 'Full Time']
                   },
                   {
                        title: "UX Story Designer",
                        description: "Female UX Designer and Storyteller. Must empathize with customers and understand their needs",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Women', 'No Degree Required']
                   },
                   {
                        title: "Hedge Fund Manager MBA Opportunity",
                        description: "Fast paced enviornment. Looking for competency.",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Women', 'Computer Science']
                   },
                   {
                        title: "Cybersecurity Consultant BootCamp",
                        description: "10-12 years in the field is preferred. ",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Cyber-security', 'Internet Technologies', 'Bootcamp']
                   },
                   {
                        title: "Healthcare Policy Advisory",
                        description: "Must have experience in the healthcare profession in some capacity ",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Tech Entrepreneurship', 'Health', 'Healthcare', 'Internet Technologies']
                   },
                   {
                        title: "Local Economist Help!",
                        description: "10-12 years in the field is preferred. Preferring Female Candidates",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Policies', 'Women']
                   },
                   {
                        title: "Animation Designer Training",
                        description: "10-12 years in the field is preferred. ",
                        link: "https://t.co/f4aq3p4ehh",
                        tags: ['Entry Level', 'Creative']
                   },
               ]
          }
      },
      watch: {
          search(val) {
              val && val !== this.select && this.querySelections(val)
          }
      },
      methods: {
          querySelections (v) {
              this.items = this.tags.filter(e => {
                return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
              })
          }
      },
      computed: {
          relevantOpenings: function () {
              var validEntries = this.jobListings

              if (this.select.length === 0){
                  return validEntries
              }

              for(var i = 0; i < validEntries.length; i++){
                const filteredArray = validEntries[i].tags.filter(value => this.select.includes(value));
                // if it is empty get rid of the elem
                if(filteredArray.length === 0){
                    validEntries.splice(i, 1) // remove
                }
              }

              return validEntries
          }
      }
    })
  </script>
</body>
</html>